//font
$font_family: 'Lato', sans-serif;
$font_size: 15px;
$spacing: 10px;
$line_height: 1.5;
$letter_spacing: 1px;

//colori
$colore_menu: #606367;
$colore_menu_hover: #3367D6;
$colore_domanda: #212121;
$colore_risposta: #3C4043;
$colore_footer: #F5F5F5;
